Repository revengenowstudio/rn_issues_auto_archiving: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_config, unittest

check_config:
  tags:
  - ubuntu
  stage: check_config
  image: anolis-registry.cn-zhangjiakou.cr.aliyuncs.com/openanolis/python:3.10.13-23-minimal
  script: 'python3 ./rn_issues_auto_archiving/utils/check_config.py --config-dir "./config/"
  
    '

unittest:
  tags:
  - ubuntu
  stage: unittest
  image: anolis-registry.cn-zhangjiakou.cr.aliyuncs.com/openanolis/python:3.10.13-23-minimal
  script: 'pip install -r ./rn_issues_auto_archiving/issue_processor/requirements.txt -i $PIP_MIRROR_URL
  
  ...

ci: gitlab流水线暂时取消sleep
  .gitlab/workflows/AutoArchiving.yml
Due: none

dependencies: 更新pyproject.toml和uv.lock
  pyproject.toml
  uv.lock
Due: none

chore: 更新gitignore
  .gitignore
Due: none

ci: gitlab归档流水线全面使用uv工具加快包安装速度
  .gitlab/workflows/AutoArchiving.yml
  .gitlab/workflows/RotateAccessToken.yml
  .gitlab/workflows/Unittest.yml
Due: none

ci: 解决gitlab流水线uv工具没有指定--system报错问题
  .gitlab/workflows/AutoArchiving.yml
  .gitlab/workflows/RotateAccessToken.yml
  .gitlab/workflows/Unittest.yml
Due: none

ci: gitlab流水线缓存设置为绝对路径,单元测试流水线触发判断逻辑更新
  .gitlab/workflows/AutoArchiving.yml
  .gitlab/workflows/RotateAccessToken.yml
  .gitlab/workflows/Unittest.yml
Due: none

ci: gitlab流水线移动了一些变量到.gitlab-ci.yaml中
  .gitlab-ci.yml
  .gitlab/workflows/AutoArchiving.yml
Due: none

ci: gitlab流水线fetch仓库深度为1,并更换pip源为清华源
  .gitlab-ci.yml
  .gitlab/workflows/RotateAccessToken.yml
  .gitlab/workflows/Unittest.yml
Due: none

ci: 修复gitlab流水线auto_archiving复制TRIGGER_PAYLOAD失败的问题
  .gitlab/workflows/AutoArchiving.yml
Due: none

ci: 修复gitlab流水线uv缓存命中问题
  .gitlab-ci.yml
  .gitlab/workflows/AutoArchiving.yml
  .gitlab/workflows/RotateAccessToken.yml
  .gitlab/workflows/Unittest.yml
Due: none

ci: 删除gitlab流水线中一些没用的内容
  .gitlab/workflows/AutoArchiving.yml
Due: none

ci: 抑制gitlab流水线释放包缓存时uv发出hardlink的警告
  .gitlab-ci.yml
Due: none

ci: 恢复gitlab自动归档流水线sleep时间间隔
  .gitlab/workflows/AutoArchiving.yml
Due: none

ci: 调整GITILAB_HOST变量位置,并让流水线和脚本适配特定端口的gitlab host
  .gitlab-ci.yml
  .gitlab/workflows/AutoArchiving.yml
  .gitlab/workflows/RotateAccessToken.yml
Due: none

script: 移除旧的各类output脚本,使用py重写了output脚本,可以直接运行或者使用命令行参数
  .gitignore
  .vscode/launch.json
  script/output.nu
  script/output.ps1
  script/output.py
  script/output.sh
Due: none

script: output.py添加替换文本功能
  script/output.py
Due: none

ci: 解决gitlab流水线中脚本读不到author_email等commit message环境变量的问题
  .gitlab/workflows/AutoArchiving.yml
Due: none

config: 移除部分容易被误判的归档指令
  config/auto_archiving.json
Due: check_config

feat: 现在在评论中匹配归档版本号时是按行匹配的, 且会跳过`> `开头的恢复部分了(for github comment)
  config/auto_archiving.json
  rn_issues_auto_archiving/issue_processor/issues_processor.py
  rn_issues_auto_archiving/shared/issue_info.py
  rn_issues_auto_archiving/shared/json_config.py
  rn_issues_auto_archiving/tests/shared/issue_info_test.py
Due: check_config, unittest

Feat: ignore reply line (#35)
  config/auto_archiving.json
  rn_issues_auto_archiving/issue_processor/issues_processor.py
  rn_issues_auto_archiving/shared/issue_info.py
  rn_issues_auto_archiving/shared/json_config.py
  rn_issues_auto_archiving/tests/shared/issue_info_test.py
Due: check_config, unittest

config: 收紧跳过流程判断关键字
  config/auto_archiving.json
Due: check_config

ci: 强制归档脚本使用master分支ref
  .github/workflows/AutoArchiving.yml
Due: none

ci: 移除gitlab issue ref url的 61443
  .gitlab-ci.yml
Due: none

docs(format): 流水线yaml维护.md
  流水线yml文件的部署和维护.md
Due: none

docs: 流水线yaml维护.md 添加PAT重新创建的部分
  流水线yml文件的部署和维护.md
Due: none

refactor: 重构config, config.json -> config.py
  .github/workflows/AutoArchiving.yml
  .github/workflows/CheckConfig.yml
  .gitlab-ci.yml
  .gitlab/workflows/AutoArchiving.yml
  .gitlab/workflows/CheckConfig.yml
  config/README.md
  config/auto_archiving.json
  rn_issues_auto_archiving/app_config/README.md
  rn_issues_auto_archiving/app_config/__init__.py
  rn_issues_auto_archiving/app_config/config.py
  rn_issues_auto_archiving/auto_archiving/archive_document.py
  rn_issues_auto_archiving/issue_processor/git_service_client.py
  rn_issues_auto_archiving/issue_processor/issues_processor.py
  rn_issues_auto_archiving/main.py
  rn_issues_auto_archiving/shared/config_data_source.py
  rn_issues_auto_archiving/shared/json_config.py
  rn_issues_auto_archiving/shared/log.py
  rn_issues_auto_archiving/tests/config/config_test.py
  rn_issues_auto_archiving/tests/issue_processor/issues_processor_test.py
  rn_issues_auto_archiving/tests/shared/config_data_source_test.py
  rn_issues_auto_archiving/utils/check_config.py
  script/output.py
  流水线yml文件的部署和维护.md
Due: check_config, unittest

refactor: 移除无用的config_data_source 和data_source处理, env将在改为简单的在main.py里进行读取
  rn_issues_auto_archiving/app_config/__init__.py
  rn_issues_auto_archiving/app_config/config.py
  rn_issues_auto_archiving/archiving_success.py
  rn_issues_auto_archiving/issue_processor/git_service_client.py
  rn_issues_auto_archiving/issue_processor/issue_data_source.py
  rn_issues_auto_archiving/issue_processor/issues_processor.py
  rn_issues_auto_archiving/main.py
  rn_issues_auto_archiving/push_document.py
  rn_issues_auto_archiving/shared/ci_event_type.py
  rn_issues_auto_archiving/shared/config_data_source.py
  rn_issues_auto_archiving/shared/config_manager.py
  rn_issues_auto_archiving/shared/data_source.py
  rn_issues_auto_archiving/shared/env.py
  rn_issues_auto_archiving/shared/log.py
  rn_issues_auto_archiving/tests/app_config/config_test.py
  rn_issues_auto_archiving/tests/issue_processor/issues_processor_test.py
  rn_issues_auto_archiving/tests/shared/config_data_source_test.py
  rn_issues_auto_archiving/tests/shared/config_manager_test.py
  rn_issues_auto_archiving/tests/utils/env_utils_test.py
  rn_issues_auto_archiving/utils/__init__.py
  rn_issues_auto_archiving/utils/env.py
Due: unittest

dev: settings.json pytest参数调整
  .vscode/settings.json
Due: none

refactor: push_document.sh 改为 push_document_github.py , push_document.py 改为 push_document_gitlab.py
  .github/workflows/AutoArchiving.yml
  .gitlab/workflows/AutoArchiving.yml
  .vscode/launch.json
  rn_issues_auto_archiving/README.md
  rn_issues_auto_archiving/push_document.sh
  rn_issues_auto_archiving/push_document_github.py
  rn_issues_auto_archiving/push_document_gitlab.py
  rn_issues_auto_archiving/shared/env.py
  rn_issues_auto_archiving/shared/log.py
  rn_issues_auto_archiving/tests/utils/cmd_test.py
  rn_issues_auto_archiving/utils/cmd.py
Due: unittest

refactor: 优化 archive_document.archive_issue 的入参, 不用每个数据类value都展开再传入了
  rn_issues_auto_archiving/auto_archiving/archive_document.py
  rn_issues_auto_archiving/main.py
  rn_issues_auto_archiving/tests/auto_archiving/archive_document_test.py
Due: unittest

feat: 归档脚本报错评论会携带前缀`【归档脚本消息】`了, 错误提示消息的匹配规则更加可读了, 缩减了归档触发关键字的规则到4条
  rn_issues_auto_archiving/app_config/README.md
  rn_issues_auto_archiving/app_config/__init__.py
  rn_issues_auto_archiving/app_config/config.py
  rn_issues_auto_archiving/archiving_success.py
  rn_issues_auto_archiving/issue_processor/git_service_client.py
  rn_issues_auto_archiving/issue_processor/issues_processor.py
  rn_issues_auto_archiving/main.py
  rn_issues_auto_archiving/push_document_gitlab.py
  rn_issues_auto_archiving/shared/exception.py
  rn_issues_auto_archiving/shared/issue_info.py
  rn_issues_auto_archiving/shared/log.py
  rn_issues_auto_archiving/shared/send_comment.py
  rn_issues_auto_archiving/tests/app_config/config_test.py
  rn_issues_auto_archiving/tests/issue_processor/git_service_client_test.py
  rn_issues_auto_archiving/tests/issue_processor/issues_processor_test.py
  rn_issues_auto_archiving/tests/shared/issue_info_test.py
  rn_issues_auto_archiving/tests/shared/send_comment_test.py
Due: unittest

docs: todo
  TODO.md
Due: none

ci: 尝试自动读取分支名并set ref
  .github/workflows/AutoArchiving.yml
Due: none

feat: 使得hints 关键字提示更加可读, 用markdown语法优化了显示效果
  rn_issues_auto_archiving/app_config/config.py
  rn_issues_auto_archiving/shared/exception.py
Due: unittest

unittest: 移除不需要的单测
  rn_issues_auto_archiving/tests/app_config/config_test.py
Due: unittest

chore: missing_archive_version 加换行
  rn_issues_auto_archiving/shared/exception.py
Due: unittest

docs: post_comment_prefix加了一个告警注释
  rn_issues_auto_archiving/app_config/config.py
Due: unittest

chore: 移除不再使用的bash launch配置和代码里没用到的报错信息和错误类
  .pre-commit-config.yaml
  .vscode/launch.json
  rn_issues_auto_archiving/app_config/config.py
  rn_issues_auto_archiving/shared/exception.py
  rn_issues_auto_archiving/shared/log.py
  rn_issues_auto_archiving/tests/auto_archiving/archive_document_test.py
  rn_issues_auto_archiving/tests/main_test.py
  rn_issues_auto_archiving/utils/env.py
  rn_issues_auto_archiving/utils/get_issue_id.py
  rn_issues_auto_archiving/utils/rotate_access_token.py
Due: unittest

refactor: rotate_access_token.py 移动到上一级目录
  .gitlab/workflows/RotateAccessToken.yml
  rn_issues_auto_archiving/rotate_access_token.py
Due: unittest

Path conditions:
  check_config: any of: config/*.json
  unittest: any of: rn_issues_auto_archiving/**/*.py
